@model IEnumerable<CompShop2.Models.Transaction>

@{int selid = Model.First().Seller;}
<p>
    @selid
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seller)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thing)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Thing)
            </td>


            <td>
            </td>

        </tr>
    }

</table>

@using (Html.BeginForm("Extra", "Workers", new { id = selid }))
{
    @Html.Editor("sum");
    <input type="submit" value="Выписать премию" />
}