
@model IEnumerable<CompShop2.Models.Transaction>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seller)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thing)
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Seller)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Thing)
    </td>

    
    <td>
        @using (Html.BeginForm("Extra", "Workers", new { id  = item.Seller }))
        {
            @Html.Editor("sum");
            <input type="submit" value="Выписать премию" />
        }
    </td>
    
</tr>
    }

</table>
